# Sample mindmap

## Branch A
### A1
### A2
## Branch B
## Branch C
